body {
    font-family: sans-serif;
    background-color: #a14646;
    padding: 10px;
    color: white;
}
#caja-de-presentacion {
    border-radius: 50px;
    margin: auto;
    text-align: center;
    font-size: 16px;
    background-color: #da6556;
    width: 90%;
    max-width: 400px;
}
#imagen-del-gato {
    max-width: 90%;
}
#redes-sociales {
    padding: 10px;
    margin: 10px;
}
hr {
    border: none;
    width: 90%;
    height: 2px;
    background-color: #a14646;
}
a {
    color: #383838;
}
h1 {
    margin: auto;
    padding: 20px;
}
